#dojo{
  width: 400px;
  height: 200px;
  background-color: grey;
  display: flex;
  /* vertical align items */
  align-items: center;
  /* horizontal justify content */
  /* Al inicio */
  justify-content: flex-start;
  /* Al centro */
  justify-content: center;
  /* Al final */
  justify-content: flex-end;
  /* Espacio en medio */
  justify-content: space-between;
  /* Espacio igual */
  justify-content: space-evenly;
  /* Espacio al rededor */
  justify-content: space-around;
}